<!DOCTYPE html>
<html>
<head>
  <title>RandomChat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
</head>
<body>
images can be found/stored in app/assets/images
javascript can be stored in app/assets/javascripts
css can be stored in app/assets/stylesheets
individual html pages can be found in app/views/
the html of this message is in app/views/layouts/application.html.erb, which appears on each page
<%= yield %>

</body>
</html>
